.products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
    margin-bottom: 50px;
}

.category-name{
    font-size: 2rem;
}

// Large screens
@media (max-width: 1800px){

}

// Tab landscape
@media (max-width: 1200px){
    .products-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tab portrait
@media (max-width: 900px){
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

// Mobile
@media (max-width: 600px){
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
  