.categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

/* Mobile styles */
@media (min-width: 320px) and (max-width: 480px) {
  .categories-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}


  
  