.auth-container{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 30px auto; 
}



@media (max-width: 1200px) {
    .auth-container{
        display: block;
    }
}

@media (max-width: 900px) {
    .auth-container{
        width: 85%;
        margin: auto;
    }
    
}

@media (max-width: 600px) {
    .auth-container{
        display: block;
        width: 100%;
        margin-left: 40px;
    }
}
  

